@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,300);
* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: black; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  background: #e6e6e6; }

.wrapper {
  display: flex;
  background-color: pink;
  flex-grow: 1; }

header {
  display: flex;
  height: 65px;
  background-color: #ffffff;
  align-items: center;
  justify-content: space-between; }

nav .categories {
  position: fixed;
  height: 72.5px;
  width: 100%;
  background: #ffffff;
  padding-top: 2%;
  margin-left: 8.5%;
  top: 0;
  left: 0; }

.sidebar {
  width: 120px;
  background-color: #00748d;
  position: fixed;
  height: 100%;
  left: 0;
  margin-top: 0; }

.sidebar-list a {
  display: flex;
  margin-top: 30px;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 2%; }

.sidebar-item a {
  margin-top: 25px;
  cursor: pointer;
  color: #3a3d46;
  font-size: 24px;
  transition: color 200ms ease; }
  .sidebar-item a:hover {
    color: #ffffff; }

.navigation {
  display: flex;
  position: fixed;
  align-items: center; }

.logotype a {
  display: flex;
  width: 120px;
  height: 73px;
  color: #ffffff;
  background-color: #201746;
  font-weight: bold;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0; }

.small {
  display: none; }

.categories {
  display: flex;
  margin-left: 45px;
  position: fixed; }

.category-item {
  margin: 0 10px; }

.contain {
  margin-left: 13%;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  width: 82%;
  margin-top: 5%;
  height: 2250px; }

.about {
  color: #000;
  text-align: center; }
  .about #hello {
    font-size: 25px;
    padding: 0.5% 15% 2% 15%;
    font-weight: 200; }

.under {
  text-align: center;
  font-weight: 350;
  text-transform: uppercase;
  margin-top: 0;
  font-size: 35px;
  background: #201746;
  height: 80px;
  color: #ffffff;
  padding-top: 1.5%; }

#skills {
  font-weight: 400;
  text-align: center;
  border-top: 1px dotted lightgray;
  margin-bottom: 5%; }

.profile {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  border: 2px solid #201746;
  margin-top: 1%; }

#projects {
  width: 100%;
  margin-bottom: 5%;
  transition: all .1s ease-in-out; }
  #projects .proj {
    display: inline-block;
    height: 200px;
    width: 250px;
    margin: 2% 13% 2% 15%;
    box-shadow: 0 0 6px rgba(132, 132, 132, 0.75);
    border-radius: 4px;
    background-color: #f4f4f4;
    /*frame colour*/
    padding: 8px;
    /*frame size*/
    padding-bottom: 45px; }
  #projects img:hover {
    transform: scale(2.2); }

#exercises {
  display: block;
  height: 500px; }
  #exercises .ex li {
    display: inline-block;
    background-color: #00748d;
    border-radius: 7px;
    margin: 8%;
    padding: 1%; }

.mod {
  text-decoration: none;
  color: #fff;
  font-size: 100%;
  font-weight: 600; }
  .mod .mod:visited {
    color: #332d35; }

.modalDialog {
  position: fixed;
  font-family: "Ralewqy", Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none; }

.modalDialog:target {
  opacity: 1;
  pointer-events: auto; }

.modalDialog > div {
  width: 565px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999); }

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000; }

.close:hover {
  background: #00d9ff; }

footer {
  text-align: center;
  color: #00748d;
  margin-left: 7.5%; }

@media screen and (max-width: 500px) {
  nav .categories {
    margin-left: 12%;
    padding-top: 7%;
    font-size: 15px; }
  .logotype {
    width: 45px; }
  .sidebar {
    width: 49px; }
  .under {
    font-size: 20px;
    padding-top: 7%; }
  .contain {
    height: 3050px;
    width: 330px; }
  footer p {
    font-size: 10px; }
  .big {
    display: none; }
  .small {
    display: block;
    padding-left: 40%; }
  #hello {
    font-size: 10px; }
  .modalDialog div {
    width: 340px; }
    .modalDialog div img {
      height: 350px;
      width: 300px;
      margin: 0; } }

/* MEDIA QUERIES. WORK ON LATER */
