body {
  font: 400 15px/1.8 Lato, sans-serif;
  color: #777; }

h3, h4 {
  margin: 10px 0 30px 0;
  letter-spacing: 10px;
  font-size: 20px;
  color: #111; }

.container {
  padding: 80px 120px; }

.person {
  border: 10px solid transparent;
  margin-bottom: 25px;
  width: 80%;
  height: 80%;
  opacity: 0.7; }

.person:hover {
  border-color: #f1f1f1; }

.bg-1 {
  background: #344152;
  color: #bdbdbd; }

.bg-1 h3 {
  color: #fff; }

.bg-1 p {
  font-style: italic; }

.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0; }

.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0; }

.thumbnail p {
  margin-top: 15px;
  color: #555; }

.btn {
  padding: 10px 20px;
  background-color: #333;
  color: #f1f1f1;
  border-radius: 0;
  transition: .2s; }

.btn:hover, .btn:focus {
  background-color: red;
  color: #fff; }

.modal-header, h4, .close {
  background-color: #333;
  color: #fff !important;
  text-align: center;
  font-size: 30px; }

.modal-header, .modal-body {
  padding: 40px 50px; }

.nav-tabs li a {
  color: #777; }

.navbar {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 0.9;
  -webkit-box-shadow: 0px 10px 5px 0px rgba(83, 81, 107, 0.2);
  -moz-box-shadow: 0px 10px 5px 0px rgba(83, 81, 107, 0.2);
  box-shadow: 0px 10px 5px 0px rgba(83, 81, 107, 0.2); }

.navbar li a, .navbar .navbar-brand {
  color: #d5d5d5 !important; }

.navbar-nav li a:hover {
  color: #fff !important; }

.navbar-nav li.active a {
  color: #fff !important;
  background-color: #29292c !important; }

.navbar-default .navbar-toggle {
  border-color: transparent; }

.open .dropdown-toggle {
  color: #fff;
  background-color: #555 !important; }

.dropdown-menu li a {
  color: #000 !important; }

.dropdown-menu li a:hover {
  background-color: red !important; }

footer {
  background-color: #2d2d30;
  color: #f5f5f5;
  padding: 32px; }

footer a {
  color: #f5f5f5; }

footer a:hover {
  color: #777;
  text-decoration: none; }

.glyphicon-chevron-up {
  font-size: 30px; }

.form-control {
  border-radius: 0; }

textarea {
  resize: none; }

.lightgrey {
  background-color: #f4f4f4;
  width: 100%; }

.justify-text {
  text-align: left; }

.icon1 {
  font-size: 60px;
  margin-bottom: 1em; }
  .icon1 .icon1:hover {
    color: red; }

.icon2 {
  font-size: 35px; }

.closer {
  margin-bottom: 0; }

img.projImg {
  height: 230px;
  width: 100%; }

.blackText {
  color: #000;
  font-family: Arial;
  font-weight: 550; }

#tenure {
  color: #000; }

.pad {
  padding-bottom: 4%; }

.padUp {
  padding-top: 4%; }

.projHover:hover {
  border: .5px solid #344152; }

.soc {
  font-size: 1.25em; }

html {
  height: 100%; }

body {
  background: #FFF;
  font: 400 1.5em/1.5 "Montserrat", serif;
  color: #777;
  height: 100%; }

h1 {
  font: 700 2.8em/1.2 "Montserrat", sans-serif; }

h2 {
  font: 700 1.5em/1.5 "Montserrat", sans-serif;
  margin: 1em 0; }

#banner {
  background: url("../img/bayVietnam.jpg") no-repeat fixed 50% 0;
  background-size: cover;
  color: #fff;
  height: 100%;
  width: 100%; }

#banner3 {
  background: url("../img/halong2.jpg") no-repeat fixed 50% 0;
  background-size: cover;
  color: #fff;
  height: 60%;
  width: 100%; }

#banner5 {
  background: url("../img/phuquocboat.jpg") no-repeat fixed 50% 0;
  background-size: cover;
  color: #fff;
  height: 60%;
  width: 100%; }

#bannertext {
  width: 24em;
  position: fixed;
  top: 20%;
  left: 50%;
  border: .45em solid #fff;
  margin-left: -12em;
  padding: 2em 0;
  text-align: center;
  font-size: 2.3em; }

@media (max-width: 750px) {
  #bannertext {
    font-size: 1em; }
  #banner {
    height: 60%; }
  .exerImg {
    width: 250px;
    height: 250px; }
  #demo, #demo2, #demo3, #demo4, #demo5, #demo6, #demo7, #demo8, #demo9, #demo10, #demo11 {
    text-align: left; } }
